name: 1.2.$(Rev:r)

trigger:
- master

pool:
  name: MyAgentPool

variables:
  buildConfiguration: 'Release'

stages:
- stage: CI
  jobs:
  - job: CIWork
    steps:

    # Install .NET SDK
    - task: UseDotNet@2
      displayName: Install .NET SDK
      inputs:
        packageType: 'sdk'
        version: '8.0.x'   # change if using 6 or 7

    # Restore
    - task: DotNetCoreCLI@2
      displayName: Restore
      inputs:
        command: 'restore'
        projects: '**/*.sln'

    # Build
    - task: DotNetCoreCLI@2
      displayName: Build
      inputs:
        command: 'build'
        projects: '**/*.sln'
        arguments: '--configuration $(buildConfiguration)'

    # Publish API project only
    - task: DotNetCoreCLI@2
      displayName: Publish API
      inputs:
        command: 'publish'
        projects: '**/TechnicalBlog.API.csproj'
        arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory) /p:Version=$(build-version)'
        zipAfterPublish: true

    # Publish Artifact to Azure DevOps
    - publish: $(Build.ArtifactStagingDirectory)
      artifact: JWTAPI

    # Copy zip to local deployment folder (self-hosted only)
    - task: CopyFiles@2
      displayName: Copy Zip To Local Folder
      inputs:
        SourceFolder: '$(Build.ArtifactStagingDirectory)'
        Contents: '**/*.zip'
        TargetFolder: 'C:\Deployments\Blog'